* {
  margin: 0px;
  box-sizing: border-box;
}
.center {
  margin: auto;
  width: 800px;
  text-align: center;
}
header {
  background-color: #008040;
}
header .center h1,
.content h2 {
  margin-bottom: 20px;
  color: white;
  font-size: 35px;
}

header .center p {
  color: white;
  font-size: 20px;
}
.content {
  padding: 20px 00px;
}
.wrapper .center .content,
li {
  font-size: 18px;
  text-align: justify;
}

/* .wrapper .center .content li {
  font-size: 18px; */

.wrapperred {
  background-color: red;
}
.wrapperred .center .content {
  color: white;
}
.wrapperred .center .content h2 {
  font-size: 30px;
  margin-bottom: 15px;
}
footer.wrapperorange {
  background-color: orange;
  padding-top: 100px;
}
footer .wrapperorange,
.wrapperred {
  margin-top: 20px;
}
