.parent {
  padding: 10px 0;
  border: 1px solid red;
  text-align: right;
  padding-right: 20px;
}
.child {
  padding: 10px;
  border: 1px solid green;
  display: inline-block;
  margin-right: 100px;
}

.parent1 {
  padding: 10px 0;
  border: 1px solid red;
  text-align: center;
}
.child1 {
  width: 100px;
  padding: 10px;
  border: 1px solid green;
  display: inline-block;
}
