.border {
  border: 1px solid rgb(147, 147, 147);
  border-radius: 50%;
  width: 310px;
  height: 310px;
  margin: auto;
  position: relative;
}

.circle {
  height: 300px;
  width: 300px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 5px;
}
.white {
  height: 50px;
  width: 200px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 120px;
  left: 50px;
}
