/* задание1 */
div p {
  text-decoration: underline;
}
/* задание2 */
div h2 {
  color: red;
}
/* задание3 */
#block p {
  color: blue;
}
/* задание4 */
#block h2 {
  font-size: 30px;
}
/* задание5 */
.bbb {
  color: chartreuse;
}
/* задание6 */
#block .bbb {
  color: cornflowerblue;
}
/* задание7 */
p.bbb {
  color: forestgreen;
}
/* заание8 */
h2.bbb {
  font-size: 50px;
}
/* задание9 */
#block p.bbb {
  text-decoration: underline;
}
/* задание10 */
.bbb,
.xxx {
  color: black;
}
