.zadanie1,
.zadanie2,
.zadanie3,
.zadanie4,
.zadanie5 {
  height: 500px;
  width: 900px;
  border: 1px solid red;
  display: flex;
}
.zadanie1 {
  justify-content: flex-end;
}
.box {
  height: 50px;
  width: 50px;
  border: 1px solid green;
}
.zadanie2 {
  flex-direction: column;
  justify-content: flex-end;
}

.zadanie3 {
  display: flex;
  flex-direction: row-reverse;
}

.zadanie4 {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.zadanie5 {
  flex-direction: column-reverse;
  justify-content: start;
}
