* {
  margin: 0px;
  box-sizing: border-box;
}
.wrapper {
  border: 1px solid orange;
  margin: 20px auto;
  width: 900px;
}
nav {
  background-color: orange;
  display: flex;
}
nav a {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  text-decoration: none;
  color: white;
}
nav .active {
  background-color: white;
  color: orange;
}
nav a:hover,
nav a:active {
  background-color: white;
  color: orange;
}
.content {
  padding: 0px 20px;
  font-size: 20px;
  color: orange;
}
.content a {
  color: rgb(214, 141, 6);
}

.content h1,
.content h2 {
  margin: 15px 0px;
}

.content p {
  line-height: 40px;
  padding: 20px 0px;
  text-align: justify;
  text-indent: 40px;
}
.req {
  margin: 0px auto;
  display: flex;
  justify-content: center;
}
.req a {
  text-decoration: none;
  color: orange;
  padding: 10px 20px;
}
.req a:hover,
.req a:active {
  color: black;
  text-decoration: underline;
}
.content h1,
.content h2 {
  text-align: center;
  font-size: 30px;
  color: rgb(229, 145, 42);
  margin: 15px 0px;
}
