/* тренировка */
/* name
input[type] {
  background-color: red;
}
/* value */
/* input[type="color"] {
  background-color: cornflowerblue;
} */
/* start end text */
/* a[href^="https://"]
{
  color: red;
  text-decoration: none; */

/* a:hover[href^="https://"]
{
  text-decoration: underline;
} */
/* a[href$="desktop&hl=ru"] {
  color: blue; */

/* a[href*="/markup/manual"] {
  color: yellow; */

/* variant */
/* p[class~="test"] {
  color: chartreuse; */

/* задание1 */
[title] {
  color: red;
}
/* задание2 */
p[title] {
  color: red;
}
/* задание3 */
p[title="hello"] {
  color: red;
}
/* задание4 */
a[href^="http://"]
{
  color: red;
}
/* задание5 */
a[href$=".html"] {
  color: aquamarine;
}
/* задание6 */
p[title~="hello"] {
  color: blue;
}
/* задание7 */
p[class^="top-"] {
  color: red;
}
