* {
  margin: 0px;
  box-sizing: border-box;
}
header,
footer,
.wrapper,
.content,
.sidebar {
  border: 2px solid black;
}
header,
footer {
  height: 200px;
}
.wrapper {
  width: 900px;
  margin: auto;
}
.content {
  width: 60%;
  height: 700px;
}
.conteiner {
  display: flex;
}
.sidebar {
  margin-right: 100px;
  width: 30%;
}
